body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, button, input, select, textarea, p {
    font-family: "PingFangSC","helvetica neue","hiragino sans gb","arial","microsoft yahei ui","microsoft yahei","simsun","sans-serif" !important;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
}
a{
	text-decoration:none;
	outline:none;
} 
body {
    font-size: 12px;
    color: #666;
}
body, article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.main{
	padding: 0 15px;
	padding-top: 50px;
	-webkit-transition: margin 0.2s ease-in;
    transition: margin 0.2s ease-in;
}


/**menu start**/
.menu-normal-content{
	margin-left: 180px;
}
.menu-lg-content{
	margin-left: 360px;
}
.menu-sm-content{
	margin-left: 50px;
}
.isidebar {
	font-size: 14px;
	width: 180px;
	display: block;
	position: fixed;
	top: 50px;
	bottom: 0px;
	background-color: #293038;
	z-index: 102;
	overflow-x: hidden;
}

.isidebar.sidebar-content {
	width: 180px;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: hidden;
	position: fixed;
	top: 50px;
	bottom: 0;
	background-color: #333744;
	z-index: 102;
}

.isidebar .sidebar-inner {
	position: relative;
}

.isidebar .sidebar-nav {
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.isidebar .sidebar-nav .sidebar-title {
	height: 40px;
	background: #42485B;
	color: #fff;
	line-height: 40px;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	overflow: hidden;
}

.sidebar-nav .sidebar-title-icon {
	display: inline-block;
	margin: 0 8px 0 20px;
	vertical-align: middle;
	transition: transform 0.12s;
	-o-transition: -o-transform 0.12s;
	-ms-transition: -ms-transform 0.12s;
	-moz-transition: -moz-transform 0.12s;
	-webkit-transition: -webkit-transform 0.12s;
}

.sidebar-nav-active .sidebar-title-icon {
	vertical-align: text-top;
	transform: rotate(90deg);
}

.isidebar li {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0.02em;
}

.sidebar-nav ul {
	width: 200px;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow-y: scroll;
	overflow-x: hidden;
}

.sidebar-trans {
	-o-transition: all 0.12s ease, 0.12s ease;
	-ms-transition: all 0.12s ease, 0.12s ease;
	-moz-transition: all 0.12s ease, 0.12s ease;
	-webkit-transition: all 0.12s ease, 0.12s ease;
}

.sidebar-nav .nav-item {
	position: relative;
}

.sidebar-nav li a {
	display: block;
	width: 180px;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	cursor: pointer;
}

.sidebar-nav .nav-icon {
	width: 50px;
	text-align: center;
	font-size: 16px;
	float: left;
	color: #aeb9c2;
}

.sidebar-nav li.active a .nav-icon {
	color: #fff;
}

.sidebar-nav .nav-title {
	float: left;
	overflow: hidden;
	color: #fff;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	width: 130px;
}

.sidebar-nav .nav-icon span {
	font-family: 'aliyun-console-font' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sidebar-nav li.active a {
	background: #00C1DE;
	transition: none;
	-webkit-transition: none;
}

.viewFramework-product-navbar-collapse {
	position: absolute;
	left: 0;
	top: 50%;
	width: 20px;
	height: 50px;
	z-index: 3;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}

.viewFramework-product-navbar-collapse .product-navbar-collapse-inner {
	top: -50%;
	position: relative;
	overflow: hidden;
}

.viewFramework-product-navbar-collapse .product-navbar-collapse {
	height: 50px;
	position: relative;
	left: -7px;
	text-align: center;
	cursor: pointer;
	-o-transition: all 0.1s ease, 0.1s ease;
	-ms-transition: all 0.1s ease, 0.1s ease;
	-moz-transition: all 0.1s ease, 0.1s ease;
	-webkit-transition: all 0.1s ease, 0.1s ease;
}

.childs-menu-status-open .viewFramework-product-navbar-collapse .product-navbar-collapse {
	right: -7px;
	left: auto;
}

.viewFramework-product-navbar-collapse:hover .product-navbar-collapse {
	right: 0;
	left: auto
}

.viewFramework-product-navbar {
	width: 0px;
	float: left;
	background-color: #EAEDF1;
	position: absolute;
	top: 50px;
	bottom: 0px;
	z-index: 2;
	overflow: hidden;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}

.viewFramework-product-navbar .product-nav-stage {
	width: 180px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
}

.viewFramework-product-navbar .product-nav-stage-main .product-nav-main-scene {
	left: 0px;
}

.viewFramework-product-navbar .product-nav-stage .product-nav-scene {
	width: 180px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	-webkit-transition: position, .2s, linear;
	-moz-transition: position, .2s, linear;
}

.viewFramework-product-navbar .product-nav-stage {
	width: 180px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
}

.viewFramework-product-navbar .product-nav-stage-main .product-nav-main-scene {
	left: 0px;
}

.viewFramework-product-navbar .product-nav-main-scene .product-nav-title {
	font-weight: bold;
	text-indent: 20px;
}

.viewFramework-product-navbar .product-nav-scene .product-nav-title {
	width: 180px;
	height: 70px;
	line-height: 70px;
	background: #D9DEE4;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.viewFramework-product-navbar .product-nav-list {
	position: absolute;
	top: 70px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow-y: auto;
	overflow-x: hidden;
}

.viewFramework-product-navbar .product-nav-list ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.viewFramework-product-navbar .product-nav-list li.active a {
	background-color: #FFF;
}

.viewFramework-product-navbar .product-nav-list li a {
	width: 180px;
	height: 40px;
	line-height: 40px;
	display: block;
	color: #333;
	cursor: pointer;
}

.viewFramework-product-navbar .product-nav-list .nav-icon {
	width: 30px;
	height: 40px;
	float: left;
	text-align: center;
	font-size: 16px;
	color: #333;
}

.viewFramework-product-navbar .product-nav-list .nav-title {
	width: 138px;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.childs-menu-status-open>.viewFramework-product-navbar {
	width: 360px!important;
}
.childs-menu-status-open>.viewFramework-product-navbar-collapse{
	left: 340px!important;
}
.childs-menu-status-closed>.viewFramework-product-navbar-collapse{
	left: 180px!important;
}

.childs-menu-status-open .icon-collapse-left {
    display: inline;
}
.childs-menu-status-closed  .icon-collapse-left {
    display: none;
}
.childs-menu-status-closed .icon-collapse-right {
    display: inline;
}
.childs-menu-status-open .icon-collapse-right {
    display: none;
}

.childs-menu-status-open .viewFramework-product-navbar-collapse .product-navbar-collapse-bg{
	right: 0;
    left: auto;
    border-bottom: 9px solid transparent;
    border-left: none;
    border-right: 13px solid #f7f7f7;
    border-top: 9px solid transparent;
}
.childs-menu-status-open .viewFramework-product-navbar-collapse:hover .product-navbar-collapse-bg {
    border-bottom: 8px solid transparent;
    border-left: none;
    border-right: 20px solid #f7f7f7;
    border-top: 8px solid transparent;
}
.viewFramework-product-navbar-collapse .product-navbar-collapse>span {
    font-size: 15px;
    line-height: 50px;
    vertical-align: text-top;
    color: #546478;
}


.viewFramework-product-navbar-collapse .product-navbar-collapse-bg {
    width: 0;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 9px solid transparent;
    border-left: 13px solid #D9DEE4;
    border-top: 9px solid transparent;
    -o-transition: all 0.1s ease,0.1s ease;
    -ms-transition: all 0.1s ease,0.1s ease;
    -moz-transition: all 0.1s ease,0.1s ease;
    -webkit-transition: all 0.1s ease,0.1s ease;
}

.childs-menu-status-closed .viewFramework-product-navbar-collapse:hover .product-navbar-collapse-bg {
    border-bottom: 8px solid transparent;
    border-left: 20px solid #D9DEE4;
    border-top: 8px solid transparent;
}

/**menu end**/